.banner {
  color: white;
  padding: 120px 0;
  background-size: cover;
  text-shadow: 0 0 8px rgb(0 0 0 / 70%);
  margin-bottom: 32px;
}

.banner h1, .banner p {
  margin: 0;
}

.banner p {
  margin-bottom: 16px;
}