.btn-airbnb {
  background-color: #E51E54;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
}

.btn-airbnb:hover {
  background-color: #673b6d;
  transition: .7s;
}

.btn-medium {
  border: 1px solid #198917;
  padding: 8px 16px;
  border-radius: 24px;
  color: #198917;
}

.btn-medium:hover {
  border: 1px solid #1c3a1b;
  color: #1c3a1b;
  transition: .7s;
}